@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

@import "base/reset";
@import "base/clearfix";
@import "base/variables";
@import "base/mixins";

html {
  font-size: $BASE_FONT_SIZE;
}

body {
  background-color: white;
  font-family: Poppins;
  padding-top: 30px;
}

h1 {
  font-size: 30px;
  margin-bottom: 30px;
}

.App p {
  margin-bottom: 30px;
  font-style: italic;
}

h2 {
  font-weight: 800;
  color: #007272;
  margin-top: 20px;
  font-size: 22px;
  margin-bottom: 20px;
}

strong {
  font-weight: bold;
}

#root {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}
button{
  background: #007272;
  color: white;
  border-radius: 20px;
  padding:5px 25px;
}

@import "components/collapsible";